/* CUSTOM PROPS CSS START  */
:root {
  --text-color: #333;
  --accent-color-green: #0a775f;
  --accent-color-green-80: rgb(10, 119, 95, 0.8);
  --accent-color-green-60: rgb(10, 119, 95, 0.6);
  --accent-color-light-brown: #c99b67;
  --accent-color-light-brown-80: rgb(201, 155, 103, 0.8);
  --accent-color-light-brown-60: rgb(201, 155, 103, 0.6);
  --light-brown: #f3d7b7;
  --light-bg: #f5f5ec;
  --outline-color: var(--accent-color-green);
}

/* FONTS  */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL CSS START  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--outline-color);
  outline-offset: 3px;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  color: var(--text-color);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER CSS START  */
.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* BUTTON CSS START  */
.button-link {
  display: inline-block;
  margin: 0;
  padding: 16px 24px;
  border: 0;
  border-radius: 100px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  font-variant: small-caps;
  white-space: nowrap;
}

/* BUTTON GREEN CSS START  */
.green-btn-link {
  background-color: var(--accent-color-green);
  color: #fff;
}

.green-btn-link:hover {
  background-color: var(--accent-color-green-80);
}

.green-btn-link:active {
  background-color: var(--accent-color-green-60);
}

/* BUTTON LIGHT BROWN CSS START  */
.brown-btn-link {
  background-color: var(--accent-color-light-brown);
  color: #fff;
}

.brown-btn-link:hover {
  background-color: var(--accent-color-light-brown-80);
}

.brown-btn-link:active {
  background-color: var(--accent-color-light-brown-60);
}

/* SAIT MAIN CSS START  */
.site-main {
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 50px;
}

/* SITE HEADER CSS START  */
.site-header-hero-wrapper {
  background-color: var(--light-brown);
  background-image: url("../images/site-header-intro-bg.jpg");
}

.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.site-header-logo-link {
  display: flex;
  text-decoration: none;
  flex-shrink: 0;
}

.site-header-logo-link:hover {
  opacity: 0.8;
}

.site-header-logo-link:active {
  opacity: 0.6;
}

.site-header-logo {
  width: 234px;
  height: 24px;
}

/* SITE NAV SCC START  */
.sitenav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sitenav-item:not(:last-child) {
  margin-right: 40px;
}

.sitenav-link {
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-color);
  white-space: nowrap;
}

.sitenav-link:hover {
  color: var(--accent-color-green);
}

.sitenav-link:active {
  opacity: 0.6;
}

.sitenav-medium-font .sitenav-link {
  font-size: 16px;
  line-height: normal;
}

/* HERO SECTION CSS START  */
.hero-container {
  display: flex;
  padding-left: 0;
  padding-right: 0;
}

.hero-info-wrapper {
  width: 100%;
  max-width: 730px;
  padding: 116px 116px 100px 150px;
}

.hero-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 64px;
  line-height: 75px;
  color: #000;
}

.hero-text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.hero-text:not(:last-child) {
  margin-bottom: 34px;
}

.hero-img-wrapper{
  position: relative;
}

.hero-badge{
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
}

.hero-section-img {
  width: 710px;
  height: 596px;
  object-fit: cover;
}

.hero-img-index {
  height: 696px;
  display: flex;
}

/* INDEX COLLECTION CSS START  */
.index-collection {
  margin-bottom: 20px;
}

.index-collection-inner {
  position: relative;
  padding: 50px 143px;
  background-color: var(--light-bg);
  background-image: url("../images/index-collection-bg.jpg");
}

.index-collection-leaves-left {
  position: absolute;
  top: 50px;
  left: -140px;  
}

.index-collection-leaves-right {
  position: absolute;
  top: 690px;
  right: -320px;
}

.index-collection-leaves-left-light {
  position: absolute;
  left: -180px;
  bottom: 170px;
}


.index-collection-heading {
  margin: 0;
  margin-bottom: 80px;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: small-caps;
}

.index-collection-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.index-collection-item {
  display: flex;
  align-items: center;
}

.index-collection-item:nth-child(even) {
  flex-direction: row-reverse;
}

.index-collection-img {
  flex-shrink: 0;
  width: 450px;
  height: 370px;
  object-fit: cover;
}

.index-collectin-info {
  flex-grow: 1;
  padding-left: 117px;
  padding-right: 117px;
}

.index-collection-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  font-variant: small-caps;
}
.index-collectin-text {
  margin: 0;
  font-size: 22px;
  line-height: 34px;
}

.index-collectin-text {
  margin-bottom: 10px;
}

/* INDEX FEATURES SECTION CSS START  */
.index-features {
  margin-bottom: 30px;
}

.index-features-inner {
  padding: 50px 30px;
  background-image: url("../images/index-funcation-bg.jpg");
  background-size: 100% 700px;
  background-repeat: no-repeat;
}

.index-features-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: small-caps;
  color: #fff;
}

.index-features-lead {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  text-align: center;
  color: #fff;
  opacity: 0.8;
}

.index-features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: -20px;
  list-style-type: none;
}

.index-features-item {
  position: relative;
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
  margin-bottom: 30px;
}

.absolute-features-img {
  position: relative;
}

.absolute-features-img {
  position: absolute;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-35%, -35%);
}

.index-features-img {
  display: flex;
  width: 433px;
  height: 500px;
  object-fit: cover;
  margin-bottom: 28px;
}

.index-features-item-heading {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  font-variant: small-caps;
}

.index-features-item-text {
  width: 377px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

/* HOW IT WORKS SECTION CSS START  */
.how-it-work-inner {
  position: relative;
  padding: 50px 30px;
  background-color: var(--accent-color-green);
  background-image: url("../images/how-it-works.jpg");
  text-align: center;
}

.how-it-work-heading {
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  font-variant: small-caps;
  color: #fff;
}

.how-it-works-list {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  list-style-type: none;
  display: flex;
  text-align: left;
  margin-left: -20px;
  counter-reset: how-it-works;
}

.how-it-works-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
  counter-increment: how-it-works;
}

.how-it-works-item::before {
  position: relative;
  z-index: 2;
  width: 60px;
  height: 60px;
  border: 4px solid var(--accent-color-light-brown);
  background-color: var(--light-bg);
  margin-bottom: 20px;
  content: "";
}

.how-it-works-item:not(:last-child):after {
  position: absolute;
  left: 35px;
  top: 30px;
  width: 433px;
  height: 3px;
  background-image: url("../images/brown-dashed-stroke.svg");
  background-repeat: no-repeat;
  content: "";
}

.how-it-works-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--light-bg);
  padding: 20px 20px 40px;
}

.how-it-works-info::before {
  align-self: flex-end;
  content: "0" counter(how-it-works);
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  font-variant: small-caps;
  margin-bottom: 45px;
}

.how-it-works-step-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 47px;
  font-variant: small-caps;
  font-weight: 500;
}

.how-it-title-step-text {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.how-it-work-cta:focus {
  outline-color: var(--accent-color-light-brown);
}

.how-it-works-stiker {
  position: absolute;
  right: 68px;
  top: 41px;
}

/* SITE FOOTER CSS START  */
.site-footer {
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: var(--accent-color-light-brown);
  background-image: url("../images/site-header-intro-bg.jpg");
}

.site-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.site-footer-logo-link {
  display: flex;
}

.site-footer-logo-link:hover {
  opacity: 0.8;
}

.site-footer-logo-link:active {
  opacity: 0.6;
}

.site-footer-logo {
  flex-shrink: 0;
  width: 235px;
  height: 24px;
  object-fit: contain;
}

/*SITE FOOTER SOCIALS CSS START  */
.site-footer-socials-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-footer-socials-item:not(:last-child) {
  margin-right: 30px;
}

.site-footer-socials-link {
  display: flex;
  color: var(--text-color);
}

.site-footer-socials-link:hover {
  color: var(--accent-color-green);
}

.site-footer-socials-link:active {
  opacity: 0.6;
}




/* RETINA BG CSS START  */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .site-header-hero-wrapper,
  .site-footer {
    background-image: url("../images/site-header-intro-bg@2x.jpg");
  }

  .index-collection-inner {
    background-image: url("../images/index-collection-bg@2x.jpg");
  }

  .index-features-inner {
    background-image: url("../images/index-funcation-bg@2x.jpg");
  }

  .how-it-work-inner {
    background-image: url("../images/how-it-works.jpg");
  }
}
